@using PointerStar.Client.ViewModels;
@using PointerStar.Shared;

<h3>
    <button class="btn btn-lg btn-outline-secondary" @onclick="() => ViewModel.IsNameModalOpen = true">
        @ViewModel.CurrentUser?.Name
    </button>
</h3>

<div class="modal" tabindex="-1" role="dialog" style="display:@DialogDisplay">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please Enter Your Name</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your name" @onkeypress="OnKeyPress" @bind="ViewModel.Name"
                           @bind:event="oninput">
                </div>
                <div class="form-group" style="margin-top:10px">
                    <span>I want to...</span>
                    <div class="btn-group" role="group" aria-label="User roles">
                        <InputRadioGroup @bind-Value="@ViewModel.SelectedRoleId">
                            <InputRadio Value="@Role.TeamMember.Id" class="btn-check" id="team-member-radio" />
                            <label class="btn btn-outline-info" for="team-member-radio">Vote</label>
                            <InputRadio Value="@Role.Facilitator.Id" class="btn-check" id="facilitator-radio" />
                            <label class="btn btn-outline-secondary" for="facilitator-radio">Facilitate</label>
                            <InputRadio Value="@Role.Observer.Id" class="btn-check" id="observer-radio" />
                            <label class="btn btn-outline-light" for="observer-radio">Observe</label>
                        </InputRadioGroup>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewModel.RoomState is null)
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="ViewModel.SubmitDialogAsync">
                        <span>Join Room</span>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => ViewModel.IsNameModalOpen = false">
                        <span>Cancel</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="ViewModel.SubmitDialogAsync">
                        <span>Update</span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
@if (ViewModel.IsNameModalOpen)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    private string DialogDisplay => ViewModel.IsNameModalOpen ? "block" : "none";

    [Parameter]
    public RoomViewModel ViewModel { get; set; }

    private async void OnKeyPress(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            await ViewModel.SubmitDialogAsync();
        }
    }
}
